### Importing modules

In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from urllib.request import urlopen

ModuleNotFoundError: No module named 'urllib2'

In [2]:
myfile = pd.read_csv("IEX_stock_aapl_chart_1y.csv")

In [6]:
myfile2 = pd.read_csv("IEX_stock_f_chart_1y.csv")

In [3]:
myfile.head()

,date,open,high,low,close,volume,unadjustedVolume,change,changePercent,vwap,label,changeOverTime
0,2018-06-08,188.3036,189.1211,186.9246,188.8256,26656799,26656799,-1.733600,-0.910,188.0835,"Jun 8, 18",0.000000
1,2018-06-11,188.4809,189.0916,187.3580,188.3627,18308460,18308460,-0.462955,-0.245,188.3202,"Jun 11, 18",-0.002451
2,2018-06-12,188.5153,189.7230,188.2839,189.3969,16911141,16911141,1.034300,0.549,188.9136,"Jun 12, 18",0.003026
3,2018-06-13,189.5348,189.9879,187.5845,187.8406,21638393,21638393,-1.556300,-0.822,188.7017,"Jun 13, 18",-0.005216
4,2018-06-14,188.6779,188.6976,187.3678,187.9391,21610074,21610074,0.098499,0.052,188.0304,"Jun 14, 18",-0.004695

In [4]:
df = myfile[["date","open","close","volume"]]

In [9]:
df2 = myfile2[["date","open","close","volume"]]

In [5]:
df.head()

         date      open     close    volume
0  2018-06-08  188.3036  188.8256  26656799
1  2018-06-11  188.4809  188.3627  18308460
2  2018-06-12  188.5153  189.3969  16911141
3  2018-06-13  189.5348  187.8406  21638393
4  2018-06-14  188.6779  187.9391  21610074

In [10]:
df['stocks'] = "appl"
df2['stocks'] = "f"

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [8]:
df.head()

         date      open     close    volume stocks
0  2018-06-08  188.3036  188.8256  26656799   appl
1  2018-06-11  188.4809  188.3627  18308460   appl
2  2018-06-12  188.5153  189.3969  16911141   appl
3  2018-06-13  189.5348  187.8406  21638393   appl
4  2018-06-14  188.6779  187.9391  21610074   appl

In [11]:
df2.head()

         date     open    close    volume stocks
0  2018-06-08  11.2828  11.3391  28371881      f
1  2018-06-11  11.3391  11.2735  30398078      f
2  2018-06-12  11.3110  11.3484  51395448      f
3  2018-06-13  11.3391  11.2641  28406733      f
4  2018-06-14  11.2454  11.1423  34523019      f

In [27]:


count = 0
with open('mystocks.csv', 'w') as f:
    for stk in ['AAPL','F']:
        url = "http://chartapi.finance.yahoo.com/instrument/1.0/" + stk + "/chartdata;type=quote;range=1y/csv"
        sourceCode = urllib.urlopen(url).read()
        splitSource = sourceCode.split('\n')
        for eachLine in splitSource:
            splitLine = eachLine.split(',')
            if len(splitLine) == 6 and len(splitLine[0])==8:
                print(splitLine)
                f.write(stk + "," + eachLine + "\n")
                count = count + 1
f.close() 
print(count)

AttributeError: module 'urllib' has no attribute 'urlopen'